<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body class="bg-light d-flex justify-content-center align-items-center vh-100">

<div class="card shadow p-4 text-center" style="width: 400px;">
    <h1 class="text-danger" style="font-size: 60px; font-weight: bold;">403</h1>
    <h4 class="mb-3">Acceso no autorizado</h4>
    <p class="text-muted mb-4">No tienes permisos para acceder a esta sección.</p>

    <a href="/inicio" class="btn btn-primary w-100">Regresar al inicio</a>
</div>

</body>
</html>