<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header class="header" th:fragment="siteHeader">
		<nav class="header__nav container">
			<div class="header__logo">
				<figure class="header__container-img">
					<img class="header__img"
						th:src="@{/imagen/imagenesEmpresa/logoCortes.png}"
						alt="Logo de la empresa">
				</figure>
				<h1 class="header__title-logo">La mesa del autor</h1>
			</div>

			<div class="header__links">
				<div class="nav-item">
					<a class="header__link" th:href="@{/inicio}">Inicio</a>
				</div>

				<div class="nav-item">
					<a class="header__link" href="#">Productos</a>
					<div class="dropdown">
						<div class="dropdown__inner container">
							<div class="dropdown__col">
								<h4>Menú</h4>
								<a th:href="@{/producto/listaProducto}">Lista de Platillos</a>
								<!--<a th:href="@{/producto/crearProducto}">Registrar Productos</a> -->
								<a th:href="@{/producto/listaProductoAdmin}">Administrar
									Producto</a>
							</div>
						</div>
					</div>
				</div>

				<div class="nav-item">
					<a class="header__link" href="#">Clientes</a>
					<div class="dropdown">
						<div class="dropdown__inner container">
							<div class="dropdown__col">
								<h4>Clientes</h4>
								<a th:href="@{/cliente/listadocli}">Listado de Clientes</a> <a
									th:href="@{/busqueda/cliente}">Busqueda de Clientes</a> <a
									th:href="@{/cliente/crear}">Crear Cliente</a>
							</div>
						</div>
					</div>
				</div>

				<div class="nav-item">
					<a class="header__link" href="#">Operativo</a>
					<div class="dropdown">
						<div class="dropdown__inner container">
							<div class="dropdown__col">
								<h4>Pedidos</h4>
								<a th:href="@{/pedido/listado}">Pedidos</a> <a
									th:href="@{/pedido/crear}">Crear Pedido</a>


							</div>
							<div class="dropdown__col">
								<h4>Mesas</h4>
								<a th:href="@{/mesa/listado}">Listado de mesas</a> <a
									th:href="@{/mesa/crear}">Crear de mesa</a>
							</div>
							<div class="dropdown__col">
								<h4>Reservaciones</h4>
								<a th:href="@{/reservar/listado}">Lista de Reservaciones</a> <a
									th:href="@{/reservar/crear}">Crear Reservacion</a>
							</div>
						</div>
					</div>
				</div>


				<div class="nav-item">
					<a class="header__link" href="#">Administración</a>
					<div class="dropdown">
						<div class="dropdown__inner container">
							<div class="dropdown__col">
								<h4>Usuarios</h4>
								<a th:href="@{/usuario/listado}">Usuarios</a> <a
									th:href="@{/perfil/listado}">Perfiles</a>
							</div>

							<div class="dropdown__col">
								<h4>Empleados</h4>
								<a th:href="@{/empleado/listadoEmpleados}">Administrar
									Empleados</a>
							</div>
						</div>
					</div>
				</div>
			</div>






			<div class="header__shop">

				<i class="fa-solid fa-magnifying-glass"></i> <i
					class="fa-solid fa-cart-shopping"></i>

				<!-- === CONTENEDOR DEL ICONO DE USUARIO === -->
				<div class="user-menu">

					<!-- Icono -->
					<i class="fa-regular fa-circle-user user-menu__icon"></i>


					<div class="user-menu__dropdown">

						<!-- FOTO -->
						<div sec:authorize="isAuthenticated()" class="user-menu__photo">
							<i class="fa-regular fa-circle-user"></i>
						</div>


						<p sec:authorize="isAuthenticated()" sec:authentication="name"
							class="user-menu__name"></p>
							
							<p sec:authorize="isAuthenticated()">
										    Rol:
										    <span th:text="${#authentication.authorities.iterator().next().authority}"></span>
										</p>

						<div class="login-information">
							<a sec:authorize="isAuthenticated()" th:href="@{/usuario/perfil}"
								class="user-menu__item user-miprofile"><i class="fa-regular fa-address-card"></i> Mi perfil </a>


							<form sec:authorize="isAuthenticated()" th:action="@{/salir}"
								method="post">
								<button type="submit" class="user-logout"><i class="fa-solid fa-right-from-bracket"></i>
									Cerrar sesión</button>
							</form>
						</div>

						<p sec:authorize="isAnonymous()"
							class="user-menu__name title-bienvenido">Bienvenido/a</p>

						<a sec:authorize="isAnonymous()" th:href="@{/login}"
							class="user-menu__item btn-login"><i class="fa-solid fa-right-to-bracket icon-login"></i> Iniciar sesión </a>
					</div>
				</div>

			</div>



		</nav>
	</header>

</body>
</html>