@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
		display: flex;
	align-items: center;
	justify-content: center;
}

.principal{
	max-width:90%;
	margin: 0 auto;
	display: flex; 
}

.content{
	max-width: 450px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.title{
	font-family: 'Anton', sans-serif;
	font-size: 8rem;
}

.sub-title{
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
	font-size: 1.5rem;
}

.text{
	font-family: 'Montserrat', sans-serif;
	margin-top: 2rem;
	font-size: 1rem;
}

.btn{
	background-color:  rgba(26, 32, 44, 1);
	color:white;
	margin-top:2rem;
	padding: 0.6rem 1.2rem;
	text-decoration: none;
	border-radius:4px;
	align-self:flex-start;
	margin-top: 2.5rem;
}

.btn:hover {
  background-color: rgba(26, 32, 44, 0.8);
  color: white;
  margin-top: 2rem;
  padding: 0.6rem 1.2rem;
  text-decoration: none;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}
