@charset "UTF-8";@charset "UTF-8";

:root{
	--tamano_tabla_column:2fr 2fr 2fr 3fr;
}

.main {
    min-height: 70vh;
    margin-bottom: 3rem;
}

.main h2{
    font-family: var(--fuente-principal);
    color: var(--color-fondo-principal);
    margin-bottom: 2rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
    margin-top: 1rem;
}

.listaProductos_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    background-color: var(--color-fondo-principal);
    border-radius: 0.9rem;
    align-items: center;
    padding: 1rem 0;
    flex-wrap: nowrap;
}

.listaProductos_serch_box {
    font-family: var(--fuente-principal);
    color: var(--color-texto-principal);
    display: flex;
    flex: 1;
    align-items: center;
}

.listaProductos_serch_box i {
    margin-right: 1rem;
    font-size: 1.2rem;
    color: var(--color-realsarElemento);
    margin-left: 2.5rem;
}

.listaProductos_serch_box > input {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: var(--color-fondo-principal);
    font-family: var(--fuente-principal);
    font-size: 1rem;
    margin-right: 1.5rem;
}

.listaProductos_header .btn_agregarProducto {
    justify-self: end;
    align-self: center;
    text-decoration: none;
    background-color: var(--color-fondo-principal);
    color: var(--color-texto-principal);
    padding: 0.5rem 1rem;
    border: 2px solid var(--color-realsarElemento);
    border-radius: 5px;
    font-family: var(--fuente-principal);
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
    margin-right: 2rem;
    cursor: pointer;
}

.btn_agregarProducto i {
    margin-right: 0.5rem;
}

.listaProductos_header .btn_agregarProducto:hover {
    background-color: var(--color-realsarElemento);
    color: var(--color-fondo-principal);
}


.listaProductos_encabezados {
    display: grid;
    grid-template-columns: var(--tamano_tabla_column);
    padding: 1rem;
    font-family: var(--fuente-principal);
    font-weight: 700;
    border-bottom: 2px solid var(--color-fondo-principal);
}

.listaProductos_encabezados > span,
.listaProductos_item > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.listaProductos-descripcion{
    display: block;
    white-space: wrap;
    text-overflow: ellipsis;
}

.encabezados_tag{
    color: var(--color-fondo-principal);
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    display: inline-flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 200;
    background-color: rgba(201, 185, 185, 0.137);
}

.tag_acciones{
    justify-self: center;
}

.listaProductos_item{
    font-family: var(--fuente-principal);
    display: grid;
    grid-template-columns: var(--tamano_tabla_column);
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    font-family: var(--fuente-principal);
    color: var(--color-fondo-principal);
}

.listaProductos_item_id{
    font-weight: 700;
    font-size: 1.2rem;
    margin-right: 1.5rem;
}

.listaProductos__item_container-idimg{
    display: flex;
    align-items: center;
    overflow: hidden;
}

.listaProductos_container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50px;
    border-radius: 100%;
    overflow: hidden;
    height: 50px;
}

.listaProductos_container-img img{
    width: 100%;
    height: 100%;
}

.listaProductos-nombreProducuto{
    font-weight: 700;
    font-size: 1.1rem;
    font-family: inherit;
}

.listaProductos-precio{
    font-weight: 700;
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}

.listaProductos_acciones {
    display: flex;
    justify-content:center;
    gap: 1rem;
}

.listaProductos_acciones-verDetalles{
    text-decoration: none;
    background-color: var(--color-realsarElemento);
    color: var(--color-fondo-principal);
    padding: 0.4rem 0.8rem;
    border-radius: 16px;
    font-weight: 500;
    font-family: var(--fuente-principal);
    transition: background-color 0.3s, color 0.3s;
}

.listaProductos_acciones-verDetalles > i{
    margin-right: 0.5rem;
}

.listaProductos_acciones-verDetalles:hover{
    background-color: var(--color-fondo-principal);
    color: white;
}

.listaProductos_acciones-btneditar,
.listaProductos_acciones-btneliminar {
    display: flex;
    background-color: rgb(233, 238, 246, 1);
    padding: 0.5rem 0.8rem;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
}

.listaProductos_acciones-btneditar > i,
.listaProductos_acciones-btneliminar > i {
    color: var(--color-fondo-principal);
    font-size: 1.2rem;
}

.listaProductos_acciones-btneditar:hover,
.listaProductos_acciones-btneliminar:hover {
    background-color: var(--color-realsarElemento);
}

.listaProductos_acciones-btneditar:hover > i,
.listaProductos_acciones-btneliminar:hover > i {
    color: var(--color-fondo-principal);
}
