@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	padding-top:0;
}

.header{
	background-color: var(--color-fondo-principal-trasparente);
}

.hero{
    width: 100%;
    height: 100vh;
}

.hero__landing{
    background-image:url("/imagen/imagenesEmpresa/fondoLandingPage.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
}


.hero__parrafos{
    grid-column: 1 / 5;
    grid-row: 1 / span 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 2em;
}

.hero__title{
    font-family: var(--fuente-principal);
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0.2em;
}

.hero__subtitle{
    font-family: var(--fuente-secundaria);
    font-size: var(--tamano-fuente-chica);
    margin-bottom: 2em;
    max-width: 630px;
}


.hero__cta{
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid white;
    color: white;
    text-decoration: none;
    margin-left: 0.5rem;
    font-family: var(--fuente-principal);
    font-weight: 800;
}
