@charset "UTF-8";

main {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-texto-principal);
    color: var(--color-texto-principal);
    padding-bottom: 3rem;
}

.detalleProducto_admin__container {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 2rem;
    max-width: 900px;
    margin: 0 auto;
    background-color: var(--color-fondo-principal);
    padding: 2rem;
    border-radius: 0.9rem;
    min-width:800px;
    box-shadow: 0 0 15px rgb(26 32 44 / 0.7);
}

.detalleProducto_admin__imagen img {
    width: 100%;
    height: 100%;
    max-height: 300px;
    border-radius: 100%;
    border: 3px solid var(--color-realsarElemento);
    object-fit: cover;
}

.detalleProducto_admin__info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
}

.detalleProducto_admin_id {
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-realsarElemento);
}

.detalleProducto_admin_nombre {
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
    color: var(--color-texto-principal);
}

.detalleProducto_admin_descripcion {
    font-size: 1.1rem;
    line-height: 1.5;
    color: var(--color-texto-principal);
    opacity: 0.9;
}

.detalleProducto_admin_precio {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--color-realsarElemento);
}

.detalleProducto_admin_categoria {
    font-weight: 600;
    font-size: 1.05rem;
    opacity: 0.8;
}

.detalleProducto_admin__acciones {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    gap: 1.4rem;
    flex-wrap: wrap;
}

.detalleProducto_admin__acciones .btn_agregarProducto {
    background-color: transparent;
    border: 2px solid var(--color-realsarElemento);
    color: var(--color-realsarElemento);
    padding: 0.45rem 1rem;
    border-radius: 0.5rem;
    font-weight: 600;
    font-family: var(--fuente-principal);
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
}

.detalleProducto_admin__acciones .btn_agregarProducto:hover {
    background-color: var(--color-realsarElemento);
    color: var(--color-fondo-principal);
}

.detalleProducto_admin_btnEditar {
    border-color: #62b155;
    color: #62b155;
}

.detalleProducto_admin_btnEditar:hover {
    background-color: #62b155;
    color: white;
}

.detalleProducto_admin_btnEliminar {
    border-color: #dc3545;
    color: #dc3545;
}

.detalleProducto_admin_btnEliminar:hover {
    background-color: #dc3545;
    color: white;
}

.detalleProducto_admin_btnVista {
    border-color: #0d6efd;
    color: #0d6efd;
}

.detalleProducto_admin_btnVista:hover {
    background-color: #0d6efd;
    color: white;
}